<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offline Web-App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
    
     <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    
  </head>
  <body>
    <header>
      <h2>My Note Pad</h2>
    </header>

    <section id="note-display">
      <p id="notify">
       <span> modifications successful </span>
      </p>
      <div id="noteHead">
      <h5>
      <span>Recent Notes</span>    
      <button>New note</button>
      </h5>
      <hr/>
      </div>
      
      <ul id="noteList">
     
        
      </ul>
      
    </section>
    
    <footer>
      <p>Copyright @ismailahmad</p>
    </footer>
    
   
    <dialog id="new-note">
      <h4>Create Note</h4>
      <p id="error">error: title already exit</p>
      <form method="dialog">
        <div id="title">
          <label for="title">Title:</label>
          <input type="text" name='title' maxlength="30">
        </div>
        <div>
          <label for="body">Text:</label>
          <br/>
          <div id="body">
          <span role="textbox" contenteditable></span>
          </div>
        </div>
        <div id="button">
          <button id="add">Save Note</button>
          <button id="cancel">cancel</button>
        </div>
      </form>
      
      <p id="info">
        <b>Note:</b> 
        <span>Title can't be empty or more than 30 characters, any extra character will be remove automatically.</span>
      </p>
    </dialog>
    
    <div id="backdrop">
      </div>
    
  </body>

</html>